<% for(i in questions) {%>

    <div class="question content-allign <%=questions[i].selected%>"><p><i class="fa fa-quote-left"></i><%= questions[i].question %><i class="fa fa-quote-right"></i></p></div>
    <div class="answer">
        <div class="short content-allign">
        <ul class="<%=questions[i].answer.long.type%>">
            <% for(j in questions[i].answer.short.text) {%>
                <li><%= questions[i].answer.short.text[j] %></li>
            <% } %>
        </ul>
        </div>
        <div class="long">
            
            <ul class="<%=questions[i].answer.long.type%>">
            <% for(j in questions[i].answer.long.text) {%>
                <li><%= questions[i].answer.long.text[j] %></li>
            <% } %>
            </ul>
            
        </div>
        <div class="bonus" data-type="<%=questions[i].answer.bonus.type%>">
            <ul>
                <li>
                    <% for(j in questions[i].answer.bonus.text) {%>
                        <%= questions[i].answer.bonus.text[j] %>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>

<% } %>

<div class="end-chapter">
    <div class="title content-allign"><p>End of chapter</p></div>
    <div class="content content-allign">
        <% if(nextChapter.exists) { %>
        <ul>
            <li>
                <a href="?chapterIndex=<%=nextChapter.index%>">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li>Next Chapter:</li>
            <li><%=nextChapter.title%></li>
        </ul>
        <% } %>
    </div>
    <div class="icons">
        <div class="block">
            <a href="?chapterIndex=<%=chapterIndex%>">
                <i class="fa fa-repeat"></i><br>
            </a>
            Repeat this chapter
        </div>
        <div class="block">
            <i class="fa fa-file-text-o"></i><br>
            Test Yourself
        </div>
        <div class="block">
            <i class="fa fa-list-alt"></i><br>
            Chapters Overview
        </div>
    </div>
</div>