<div class="QAFlashCard end">
    <div class="title"><p>End of chapter</p></div>
    <div class="content">
        <% if(nextChapter.exists) { %>
        <ul>
            <li>
                <a href="?chapterIndex=<%=nextChapter.index%>">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </li>
            <li>Next Chapter:</li>
            <li><%=nextChapter.title%></li>
        </ul>
        <% } %>
    </div>
    <div class="icons">
        <div class="block">
            <a href="?chapterIndex=<%=chapterIndex%>">
                <i class="fa fa-repeat"></i><br>
            </a>
            Repeat this chapter
        </div>
        <div class="block">
            <i class="fa fa-file-text-o"></i><br>
            Test Yourself
        </div>
        <div class="block">
            <i class="fa fa-list-alt"></i><br>
            Chapters Overview
        </div>
    </div>
</div>

<% for(i in questions) {%>

<div class="QAFlashCard <%=questions[i].selected%>">
    <div class="question"><p><%= questions[i].question %></p></div>
    <div class="answer">
        <div class="short">
        <% for(j in questions[i].answer.short) {%>
            <%= questions[i].answer.short[j] %>
        <% } %>
        </div>
        <div class="long">
            
            <ul class="<%=questions[i].answer.long.type%>">
            <% for(j in questions[i].answer.long.text) {%>
                <li><%= questions[i].answer.long.text[j] %></li>
            <% } %>
            </ul>
            
        </div>
        <div class="bonus" data-type="<%=questions[i].answer.bonus.type%>">
            <ul>
                <li>
                    <% for(j in questions[i].answer.bonus.text) {%>
                        <p><%= questions[i].answer.bonus.text[j] %></p>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</div>

<% } %>