<div class="QAFlashCard end">
    <div class="title"><p>End of chapter</p></div>
    <a href="?chapterIndex=<%=chapterIndex%>">repeat</a>
    <a href="">next</a>
</div>


<% for(i in questions) {%>

<div class="QAFlashCard <%=questions[i].selected%>">
    <p><%= questions[i].question %></p>
    <div class="answer">
        <div class="short">
        <% for(j in questions[i].answer.short) {%>
            <%= questions[i].answer.short[j] %>
        <% } %>
        </div>
        <div class="long">
            
            <ul class="<%=questions[i].answer.long.type%>">
            <% for(j in questions[i].answer.long.text) {%>
                <li><%= questions[i].answer.long.text[j] %></li>
            <% } %>
            </ul>
            
        </div>
        <div class="bonus" data-type="<%=questions[i].answer.bonus.type%>">
            <ul>
                <li>
                    <% for(j in questions[i].answer.bonus.text) {%>
                        <p><%= questions[i].answer.bonus.text[j] %></p>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</div>

<% } %>